<!DOCTYPE html>
<html lang="en" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.webmanifest') }}">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='rainbowBackground.png') }}">
    <link rel="apple-touch-startup-image" href="{{ url_for('static', filename='scannedQRCode.png') }}">
</head>
<body>
<!div name="home" class="container">
    <!div name="about" class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('video_feed') }}"
                 height="1000px"
                 width="110%"
                 margin="auto">
        </div>
    <!/div>
<!/div>
</body>
</html>