<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url("{{url_for('static', filename='/Image/caf_background.png')}}");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>

<h1 style="background-color:DodgerBlue;">please scan QR code</h1>

<p style="background-color:Tomato;">
index
</p>
<button onclick="setTimeout(nav2S0, 3000)">Try it</button>

<a href="{{ url_for('s0') }}">Check out this cool form!</a>
<script>
function myFunction() {
  alert('Hello');
 }

function nav2S0() {
  location.replace("https://www.w3schools.com")
 }
</script>

</body>
</html>
